.Palette{
    height: 100vh;
    overflow: hidden;
}
.Palette-colors{
    height: 90%;
}
.Palette-footer{
    background-color: white;
    height: 5vh;
    margin-right: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.emoji{
    font-size: 1.5rem;
    margin: 0 1rem;
}